#poststuff #pixelgrade_wppostnotes-metabox .inside {
  margin: 0;
  padding: 0; }
  #poststuff #pixelgrade_wppostnotes-metabox .inside ul.post_notes li {
    padding: 0 10px; }
  #poststuff #pixelgrade_wppostnotes-metabox .inside button {
    margin: 1px;
    vertical-align: top; }

ul.post_notes {
  padding: 2px 0 0; }
  ul.post_notes li .note_content {
    padding: 10px;
    background: #efefef;
    position: relative; }
    ul.post_notes li .note_content p {
      margin: 0;
      padding: 0;
      word-wrap: break-word; }
  ul.post_notes li p.meta {
    padding: 10px;
    color: #999;
    margin: 0;
    font-size: 11px; }
    ul.post_notes li p.meta .exact-date {
      border-bottom: 1px dotted #999; }
  ul.post_notes li a.delete_note {
    color: #a00; }
  ul.post_notes li .note_content::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: 0;
    height: 0;
    border-width: 10px 10px 0 0;
    border-style: solid;
    border-color: #efefef transparent; }
  ul.post_notes li.system-note .note_content {
    background: #d7cad2; }
  ul.post_notes li.system-note .note_content::after {
    border-color: #d7cad2 transparent; }
  ul.post_notes li.customer-note .note_content {
    background: #a7cedc; }
  ul.post_notes li.customer-note .note_content::after {
    border-color: #a7cedc transparent; }

.add_note {
  border-top: 1px solid #ddd;
  padding: 10px 10px 0; }
  .add_note h4 {
    margin-top: 5px !important; }
  .add_note #add_post_note {
    width: 100%;
    height: 50px; }
