#poststuff #pixelgrade_wppostnotes-metabox .inside {
  margin: 0;
  padding: 0;

  ul.post_notes li {
	padding: 0 10px;
  }

  button {
	margin: 1px;
	vertical-align: top;
  }
}

ul.post_notes {
  padding: 2px 0 0;

  li {

	.note_content {
	  padding: 10px;
	  background: #efefef;
	  position: relative;

	  p {
		margin: 0;
		padding: 0;
		word-wrap: break-word;
	  }
	}

	p.meta {
	  padding: 10px;
	  color: #999;
	  margin: 0;
	  font-size: 11px;

	  .exact-date {
		border-bottom: 1px dotted #999;
	  }
	}

	a.delete_note {
	  color: #a00;
	}

	.note_content::after {
	  content: "";
	  display: block;
	  position: absolute;
	  bottom: -10px;
	  left: 20px;
	  width: 0;
	  height: 0;
	  border-width: 10px 10px 0 0;
	  border-style: solid;
	  border-color: #efefef transparent;
	}
  }

  li.system-note {

	.note_content {
	  background: #d7cad2;
	}

	.note_content::after {
	  border-color: #d7cad2 transparent;
	}
  }

  li.customer-note {

	.note_content {
	  background: #a7cedc;
	}

	.note_content::after {
	  border-color: #a7cedc transparent;
	}
  }
}

.add_note {
  border-top: 1px solid #ddd;
  padding: 10px 10px 0;

  h4 {
	margin-top: 5px !important;
  }

  #add_post_note {
	width: 100%;
	height: 50px;
  }
}
