/**
 * Imports
 */
@import "mixins";

#poststuff #pixelgrade_wppostnotes-metabox .inside {
  margin: 0;
  padding: 0;

  ul.post_notes li {
	padding: 0 10px;
  }

  button {
	vertical-align: top;
  }
}

ul.post_notes {
  padding: 2px 0 0;

  li {

	.note_content {
	  padding: 10px;
	  background: #efefef;
	  position: relative;

	  p {
		margin: 0;
		padding: 0;
		word-wrap: break-word;
	  }
	}

	p.meta {
	  padding: 10px;
	  color: #999;
	  margin: 0;
	  font-size: 11px;

	  .exact-date {
		border-bottom: 1px dotted #999;
	  }
	}

	a.delete_note {
	  color: #a00;
	}

	.note_content::after {
	  content: "";
	  display: block;
	  position: absolute;
	  bottom: -10px;
	  left: 20px;
	  width: 0;
	  height: 0;
	  border-width: 10px 10px 0 0;
	  border-style: solid;
	  border-color: #efefef transparent;
	}
  }

  li.system-note {

	.note_content {
	  background: #d7cad2;
	}

	.note_content::after {
	  border-color: #d7cad2 transparent;
	}
  }

  li.customer-note {

	.note_content {
	  background: #a7cedc;
	}

	.note_content::after {
	  border-color: #a7cedc transparent;
	}
  }
}

.add_note {
  border-top: 1px solid #ddd;
  padding: 10px 10px 0;

  h4 {
	margin-top: 5px !important;
  }

  #post_note_content {
	width: 100%;
	height: 50px;
  }
}

/**
  * Help Tip
  */
.pixelgrade_wppostnotes-help-tip {
  color: #666;
  display: inline-block;
  font-size: 1.1em;
  font-style: normal;
  height: 16px;
  line-height: 16px;
  position: relative;
  vertical-align: middle;
  width: 16px;

  &::after {

	@include icon_dashicons( "\f223" );
	cursor: help;
  }
}

h2 .woocommerce-help-tip {
  margin-top: -5px;
  margin-left: 0.25em;
}

.postbox .woocommerce-help-tip {
  margin: 0 0 0 9px;
}

#tiptip_holder {
  display: none;
  z-index: 8675309;
  position: absolute;
  top: 0;

  /*rtl:ignore*/
  left: 0;


  &.tip_top {
	padding-bottom: 5px;

	#tiptip_arrow_inner {
	  margin-top: -7px;
	  margin-left: -6px;
	  border-top-color: #333;
	}
  }

  &.tip_bottom {
	padding-top: 5px;

	#tiptip_arrow_inner {
	  margin-top: -5px;
	  margin-left: -6px;
	  border-bottom-color: #333;
	}
  }

  &.tip_right {
	padding-left: 5px;

	#tiptip_arrow_inner {
	  margin-top: -6px;
	  margin-left: -5px;
	  border-right-color: #333;
	}
  }

  &.tip_left {
	padding-right: 5px;

	#tiptip_arrow_inner {
	  margin-top: -6px;
	  margin-left: -7px;
	  border-left-color: #333;
	}
  }
}

#tiptip_content {
  color: #fff;
  font-size: 0.8em;
  max-width: 150px;
  background: #333;
  text-align: center;
  border-radius: 3px;
  padding: 0.618em 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

  code {
	padding: 1px;
	background: #888;
  }
}

#tiptip_arrow,
#tiptip_arrow_inner {
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 6px;
  height: 0;
  width: 0;
}
